* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

body {
    background-color: rgb(167, 167, 167);
}

h1 {
    padding-left: 25px;
}

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.active-overlay {
    visibility: visible;
}

#navbar {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: rgb(32, 32, 32);
}

#add-book-button {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    padding: 30px 50px 30px 50px;
    margin: 40px 0 40px 0;
    background-color: rgb(66, 66, 66);
    border: 0px;
    border-radius: 2.5px;
    transform: translateX(-50%);
    left: 50%;
}

#add-book-button:hover {
    background-color: rgb(0, 0, 0);
}

#book-card-container {  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#add-book-interface {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
    height: 75%;
    width: 50%;
    background-color: rgb(155, 134, 102);
    border-radius: 25px;
}

#exit-add-book-interface {
    position: relative;
    top: 0%;
    left: 85%;
    height: 40px;
    width: 40px;
}

#add-book-interface-header {
    position: relative;
    top: 5vh;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

#input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#submit-button {
    position: relative;
    transform: translateX(-50%);
    top: 20px;
    left: 50%;
    padding: 20px 100px;
    font-size: 20px;
    border: 0;
    background-color: black;
    border-radius: 5px;
}

#input-container > input {
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 20px;
    color: black;
    border: 0;
    border-radius: 10px;

}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
    width: 30%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}

.has-read {
    color: black;
    margin-bottom: 25px;
    padding: 5% 10%;
    background-color: rgb(167, 167, 167);
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border-radius: 10px;
}

.invisible {
    display: none;
}
